In [1]:
from datetime import datetime
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("Weather.csv")
df2 = pd.read_csv("Delay.csv")

In [3]:
df1.head()

,date,totalSnow_cm,DewPointC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,Time,Airport
0,01-1-18,0.0,14.0,14.0,19.0,76.0,0.0,1012.0,18.0,10.0,98.0,9.0,0.0,BLR
1,01-1-18,0.0,15.0,13.0,18.0,81.0,0.0,1012.0,18.0,10.0,98.0,8.0,1.0,BLR
2,01-1-18,0.0,15.0,12.0,16.0,85.0,0.0,1012.0,17.0,10.0,98.0,8.0,2.0,BLR
3,01-1-18,0.0,16.0,11.0,14.0,89.0,0.0,1012.0,17.0,10.0,98.0,7.0,3.0,BLR
4,01-1-18,0.0,16.0,10.0,13.0,84.0,0.0,1012.0,18.0,10.0,99.0,6.0,4.0,BLR

In [4]:
df2.head()

,Date,Departure Airport,Departure Airport Rating (out of 10),Departure Airport On Time Rating (out of 10),Departure Airport Service Rating (out of 10),Arrival Airport,Arrival Airport Rating (out of 10),Arrival Airport On Time Rating (out of 10),Arrival Airport Service Rating (out of 10),Airplane Type,...,Departure Delay,Duration,Expected Arrival Time,Arrival Time,Arrival Time Delay,Carrier,Carrier Rating (out of 10),Carrier Market Share (out of 100),Carrier Load Factor (out of 100),Carrier On Time Performance Rating (out of 100)
0,28-1-18,BLR,NaN,NaN,NaN,DEL,7.99,7.3,9.1,NaN,...,0:00:00,2:20,8:55,8:30,-0:25:00,Air India,6.6,12.0,80.75,70.3
1,28-1-18,CCU,NaN,NaN,NaN,DEL,7.99,7.3,9.1,NaN,...,0:01:00,2:09,9:10,9:10,0:00:00,Air India,6.6,12.0,80.75,70.3
2,28-1-18,DEL,7.99,7.3,9.1,HYD,8.27,7.8,9.0,NaN,...,0:28:00,1:46,9:10,9:19,0:09:00,Air India,6.6,12.0,80.75,70.3
3,28-1-18,BOM,7.29,6.2,9.0,DEL,7.99,7.3,9.1,NaN,...,0:07:00,1:40,9:05,8:47,-0:18:00,Air India,6.6,12.0,80.75,70.3
4,28-1-18,BLR,NaN,NaN,NaN,BOM,7.29,6.2,9.0,NaN,...,0:15:00,1:14,8:25,8:14,-0:11:00,Air India,6.6,12.0,80.75,70.3

In [6]:
print(df1.columns)
print(df2.columns)

Index(['date', 'totalSnow_cm', 'DewPointC', 'WindGustKmph', 'cloudcover',
       'humidity', 'precipMM', 'pressure', 'tempC', 'visibility',
       'winddirDegree', 'windspeedKmph', 'Time', 'Airport'],
      dtype='object')
Index(['Date', 'Departure Airport', 'Departure Airport Rating (out of 10)',
       'Departure Airport On Time Rating (out of 10)',
       'Departure Airport Service Rating (out of 10)', 'Arrival Airport',
       'Arrival Airport Rating (out of 10)',
       'Arrival Airport On Time Rating (out of 10)',
       'Arrival Airport Service Rating (out of 10)', 'Airplane Type',
       'Expected Departure Time', 'Departure Time', 'Departure Delay',
       'Duration', 'Expected Arrival Time', 'Arrival Time',
       'Arrival Time Delay', 'Carrier', 'Carrier Rating (out of 10)',
       'Carrier Market Share (out of 100)', 'Carrier Load Factor (out of 100)',
       'Carrier On Time Performance Rating (out of 100)'],
      dtype='object')

In [8]:
t = pd.to_datetime(df2.Date+ ' ' + df2['Expected Departure Time'])

In [9]:
df2['t'] = t

In [10]:
df2.head()

,Date,Departure Airport,Departure Airport Rating (out of 10),Departure Airport On Time Rating (out of 10),Departure Airport Service Rating (out of 10),Arrival Airport,Arrival Airport Rating (out of 10),Arrival Airport On Time Rating (out of 10),Arrival Airport Service Rating (out of 10),Airplane Type,...,Duration,Expected Arrival Time,Arrival Time,Arrival Time Delay,Carrier,Carrier Rating (out of 10),Carrier Market Share (out of 100),Carrier Load Factor (out of 100),Carrier On Time Performance Rating (out of 100),t
0,28-1-18,BLR,NaN,NaN,NaN,DEL,7.99,7.3,9.1,NaN,...,2:20,8:55,8:30,-0:25:00,Air India,6.6,12.0,80.75,70.3,2018-01-28 06:10:00
1,28-1-18,CCU,NaN,NaN,NaN,DEL,7.99,7.3,9.1,NaN,...,2:09,9:10,9:10,0:00:00,Air India,6.6,12.0,80.75,70.3,2018-01-28 07:00:00
2,28-1-18,DEL,7.99,7.3,9.1,HYD,8.27,7.8,9.0,NaN,...,1:46,9:10,9:19,0:09:00,Air India,6.6,12.0,80.75,70.3,2018-01-28 07:05:00
3,28-1-18,BOM,7.29,6.2,9.0,DEL,7.99,7.3,9.1,NaN,...,1:40,9:05,8:47,-0:18:00,Air India,6.6,12.0,80.75,70.3,2018-01-28 07:00:00
4,28-1-18,BLR,NaN,NaN,NaN,BOM,7.29,6.2,9.0,NaN,...,1:14,8:25,8:14,-0:11:00,Air India,6.6,12.0,80.75,70.3,2018-01-28 06:45:00

In [ ]:
t1 = pd.to_datetime('')